@import '../../node_modules/bootstrap/less/bootstrap.less';
@import (inline) '../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css';
@import (inline) '../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css';
@import (inline) '../../node_modules/sweetalert2/dist/sweetalert2.min.css';
@import (inline) '../../node_modules/lightgallery/dist/css/lightgallery.min.css';

@import (inline) '../../node_modules/font-awesome/css/font-awesome.min.css';

@font-face{
	font-family:'lg';
	src: url('../../node_modules/lightgallery/dist/fonts/lg.eot');
		src: url('../../node_modules/lightgallery/dist/fonts/lg.woff') format('woff'),
		     url('../../node_modules/lightgallery/dist/fonts/lg.ttf') format('truetype'),
				 url('../../node_modules/lightgallery/dist/fonts/lg.svg') format('svg');
				 font-weight: normal;
				 font-style: normal;
}


// OWL CAROUSEL

// .owl-carousel > .item{
// 	width: 100%;
// 	height: auto;
// }

.owl-carousel, .owl-carousel .owl-item{
	margin-top:1%;
}

.h4, h4, .h3, h3{
	font-family: Helvetica;
	margin:15px 0 5px 20px;
}

.h4, h4{
	color:#EA094B;
}

.h3, h3{
	font-weight: bold;
}

.ref{
	margin-top: 2%;
}


.icons{
	display: grid;
	grid-template-columns: repeat(3,10%);
	grid-template-rows: repeat(2,auto);
	justify-items:center;
	align-items: center;
	margin-top: 2%;
	padding: 20px 0 8px 50px;
	background: #f1f1f1;

}

.icons > i{
	color:#59a6ba;
	padding:0 0 5px 0;
}

.icons > p{
	font-weight: bold;
}



select{
margin-top:20px;
}

form{
	margin-left: 300px;
	margin-top: 100px;
}
button{
	margin-left: 300px;

}

footer{
	background-color: rgb(181, 181, 181);
}
h1{
	text-align:center;
}

h3{
	text-align: center;
}
